html
    head
    body
        div(class="container")
            h1 register    
            form(action="/register" method="POST")
                div
                    label(for="name") name
                    input(type="text" id="name" name="name")
                div
                    label(for="password") password
                    input(type="password" id="password" name="password")
                div
                    button(type="submit") register
                div
                    a(href="/login") login